*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
.container{
    width: 1380px;
    margin: 0 auto;
}
.header{
    background-image: url(img/fon.jpg);
    background-repeat: no-repeat;
}
.header__menu{
    padding: 24px 32px;
}
.header__menu_1{
    float: left;
}
.header__menu_1 img{
    float: left;
}
.header__menu_1 span{
vertical-align: middle;
color: var(--Neutrals, #FFF);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-right: 32px;
}
.header__menu_2{
    float: left;
}
.header__menu_2 img{
    float: left;
}
.header__menu_2 span{
vertical-align: middle;
color: var(--Neutrals, #FFF);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.header__menu_3{
float: right;
color: var(--Blackish-Green, #121);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.header__menu_4{
float: right;
color: var(--Neutrals, #FFF);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-right: 32px;

}
.header__menu_5{
   text-align: center;
}
.rasporka{
    clear: both;
}
/* centr */
.center{
width: 1380px;
height:333px;
border-radius: 0px 0px 24px 24px;
margin: 180px auto 0px auto;
}

.center h2{
color: var(--Neutrals, #FFF);
text-align: center;
font-family: TradeGothic LT Extended;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.center h1{
    color: var(--Neutrals, #FFF);
text-align: center;
font-family: TradeGothic LT Extended;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.center h3{
    color: var(--Neutrals, #FFF);
text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
/* 2блок --------------------------------------------------------------------------------------------*/
.container_2{
    width: 1232px;
    margin: 0 auto;
}
.poisk{
width: 1232px;
padding: 16px 32px 32px 32px;
border-radius: 16px;
background: var(--Neutrals, #FFF);
box-shadow: 0px 4px 16px 0px rgba(141, 211, 187, 0.15);
margin-top: -100px;
margin-bottom: 80px;
}
.poisk__top{
    margin-bottom: 48px;
}
.poisk__top_1{
    float: left;
    margin-right: 64px;
   
}
.poisk__top_1 img{
    float: left;
    margin-right: 8px;
}
.poisk__top_1 span{
color: var(--Blackish-Green, #121);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
vertical-align: middle;
}
.poisk__top_2{
    float: left;
}
.poisk__top_2 img{
    float: left;
    margin-right: 8px;
}
.poisk__top_2 span{
color: var(--Blackish-Green, #121);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
vertical-align: middle;
}
.poisk__top_rasporka{
    clear: both;
}
.poisk__midle{
    margin-bottom: 32px;

}
.poisk__midle_1{
    float: left;
    width: 324px;
    padding: 4px 0px 4px 16px;
    border-radius: 4px 4px 0px 0px;
    border: 2px solid  #79747E;
    margin-right: 10px;
}
.poisk__midle_1 img{
    float: right;
    padding: 12px;
}
.poisk__midle_1 span{
    float: left;
    padding-top: 14px;
    color: #1C1B1F;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.poisk__midle_2{
    float: left;
    width: 140px;
    padding: 4px 0px 4px 16px;
    border-radius: 4px 4px 0px 0px;
    border: 2px solid  #79747E;
    margin-right: 10px;

}
.poisk__midle_2 img{
    float: right;
    padding: 12px;

}
.poisk__midle_2 span{
    float: left;
    padding-top: 14px;
    color: #1C1B1F;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
}


.poisk__midle_3{
    float: left;
    width: 324px;
   
    padding: 4px 0px 4px 16px;
    border-radius: 4px 4px 0px 0px;
    border: 2px solid  #79747E;
    margin-right: 10px;
}
.poisk__midle_3 p{
    padding: 14.8px 0;
    color: #1C1B1F;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.poisk__midle_4{
    float: left;
    width: 324px;
    padding: 4px 0px 4px 16px;
    border-radius: 4px 4px 0px 0px;
    border: 2px solid  #79747E;
}
.poisk__midle_4 p{
    padding: 14.8px 0;
    color: #1C1B1F;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.poisk__midle_rasporka{
    clear: both;
}
.poisk__bottom_2{
    float: right;
    padding: 8px 16px;
    background-color:#8CD2BA;
}
.poisk__bottom_2 img{
    float: left;
    margin-right: 4px;
    padding-top: 4px;
}
.poisk__bottom_2 p{
color: var(--Blackish-Green, #121);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.poisk__bottom_1{
    float: right;
    margin-right: 24px;
    padding: 8px 16px;
}
.poisk__bottom_1 img{
    float: left;
    margin-right: 4px;
    padding-top: 4px;
}
.poisk__bottom_1 p{
color: var(--Blackish-Green, #121);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.poisk__bottom_rasporka{
    clear: both;
}
/* 3блок-------------------------------------------------------------------------------------------- */
.plan__name h3{
height: 36px;
align-self: stretch;
color: #000;
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 16px;
}
.plan__name h4{
align-self: stretch;
color: var(--Blackish-Green, #121);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.75;
margin-bottom: 40px;
}
.plan__name span{
float: right;
height: 40px;
padding:  8px 16px;
border-radius: 4px;
border: 1px solid var(--Mint-Green, #8DD3BB);
margin-top: 16px;
color: var(--Blackish-Green, #121);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.plan__name_rasporka{
    clear: both;
}
.plan__1line_1{
float: left;
border-radius: 16px;
background: var(--Neutrals, #FFF);
box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
padding: 16px;
width: 33.3%;
}
.plan__1line_1 img{
    float: left;
    margin-right: 16px;
}
.plan__1line_1 p{
padding: 24px 0px 8px 0px;
color: var(--Blackish-Green, #121);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
opacity: 0.7;
}
.plan__1line_1 span{
margin-right: 8px;
color: var(--Blackish-Green, #121);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.plan__1line_2{
    float: left;
    border-radius: 16px;
    background: var(--Neutrals, #FFF);
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
    padding: 16px;
    width: 33.4%;
}
.plan__1line_2 img{
    float: left;
    margin-right: 16px;
}
.plan__1line_2 p{
    padding: 24px 0px 8px 0px;
    color: var(--Blackish-Green, #121);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.7;
    }
    .plan__1line_2 span{
    margin-right: 8px;
    color: var(--Blackish-Green, #121);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
    
.plan__1line_3{
    float: left;
    border-radius: 16px;
    background: var(--Neutrals, #FFF);
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
    padding: 16px;
    width: 33.3%;
}
.plan__1line_3 img{
    float: left;
    margin-right: 16px;
}
.plan__1line_3 p{
    padding: 24px 0px 8px 0px;
    color: var(--Blackish-Green, #121);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.7;
    }
    .plan__1line_3 span{
    margin-right: 8px;
    color: var(--Blackish-Green, #121);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
    .plan__1line_rasporka{
        clear:both ;
    }
    /* вторая линия */
    .plan__2line_1{
        float: left;
        border-radius: 16px;
        background: var(--Neutrals, #FFF);
        box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
        padding: 16px;
        width: 33.3%;
        }
        .plan__2line_1 img{
            float: left;
            margin-right: 16px;
        }
        .plan__2line_1 p{
        padding: 24px 0px 8px 0px;
        color: var(--Blackish-Green, #121);
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        opacity: 0.7;
        }
        .plan__2line_1 span{
        margin-right: 8px;
        color: var(--Blackish-Green, #121);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        }
        
        .plan__2line_2{
            float: left;
            border-radius: 16px;
            background: var(--Neutrals, #FFF);
            box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
            padding: 16px;
            width: 33.4%;
        }
        .plan__2line_2 img{
            float: left;
            margin-right: 16px;
        }
        .plan__2line_2 p{
            padding: 24px 0px 8px 0px;
            color: var(--Blackish-Green, #121);
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            opacity: 0.7;
            }
            .plan__2line_2 span{
            margin-right: 8px;
            color: var(--Blackish-Green, #121);
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            }
            
        .plan__2line_3{
            float: left;
            border-radius: 16px;
            background: var(--Neutrals, #FFF);
            box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
            padding: 16px;
            width: 33.3%;
        }
        .plan__2line_3 img{
            float: left;
            margin-right: 16px;
        }
        .plan__2line_3 p{
            padding: 24px 0px 8px 0px;
            color: var(--Blackish-Green, #121);
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            opacity: 0.7;
            }
            .plan__2line_3 span{
            margin-right: 8px;
            color: var(--Blackish-Green, #121);
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            }
            .plan__2line_rasporka{
                clear: both ;
            }
            /* 3линия */
            .plan__3line_1{
                float: left;
                border-radius: 16px;
                background: var(--Neutrals, #FFF);
                box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
                padding: 16px;
                width: 33.3%;
                }
                .plan__3line_1 img{
                    float: left;
                    margin-right: 16px;
                }
                .plan__3line_1 p{
                padding: 24px 0px 8px 0px;
                color: var(--Blackish-Green, #121);
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                opacity: 0.7;
                }
                .plan__3line_1 span{
                margin-right: 8px;
                color: var(--Blackish-Green, #121);
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                }
                
                .plan__3line_2{
                    float: left;
                    border-radius: 16px;
                    background: var(--Neutrals, #FFF);
                    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
                    padding: 16px;
                    width: 33.4%;
                }
                .plan__3line_2 img{
                    float: left;
                    margin-right: 16px;
                }
                .plan__3line_2 p{
                    padding: 24px 0px 8px 0px;
                    color: var(--Blackish-Green, #121);
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    opacity: 0.7;
                    }
                    .plan__3line_2 span{
                    margin-right: 8px;
                    color: var(--Blackish-Green, #121);
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    }
                    
                .plan__3line_3{
                    float: left;
                    border-radius: 16px;
                    background: var(--Neutrals, #FFF);
                    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
                    padding: 16px;
                    width: 33.3%;
                }
                .plan__3line_3 img{
                    float: left;
                    margin-right: 16px;
                }
                .plan__3line_3 p{
                    padding: 24px 0px 8px 0px;
                    color: var(--Blackish-Green, #121);
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    opacity: 0.7;
                    }
                    .plan__3line_3 span{
                    margin-right: 8px;
                    color: var(--Blackish-Green, #121);
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    }
                    .plan__3line_rasporka{
                        clear: both ;
                    }
                    /* 4block---------------------------------------------------------------------------------------------- */
                    .choice{
                        margin-top: 80px;
                        margin-bottom: 90px;
                        }
                    .choice__flights{
                        float: left;
                        background-image: url(img/Rectangle\ 40flightsbig.png);
                        background-repeat: no-repeat;
                        border-radius: 20px;
                        width: 604px;
                        height: 559px;
                        flex-shrink: 0;
                    }
                    .choice__flights h3{
                        color: var(--Neutrals, #FFF);
                        text-align: center;
                        font-family: TradeGothic LT Extended;
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin: 372px auto 8px;
                    }
                    .choice__flights h4{
                        color: var(--Neutrals, #FFF);
                        text-align: center;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin-bottom: 16px;
                    }    
                    .choice__flights_button{
                        text-align: center;
                        border-radius: 4px;
                        background: var(--Mint-Green, #8DD3BB);
                        height: 48px;
                        width: 144px;
                        padding: 8px 16px;
                        margin: 0 auto;
                    }
                    .choice__flights_button img{
                        width: 16px;
                        height: 16px;
                        float: left;
                        margin: 8px 4px 8px 8px;
                    }
                    .choice__flights_button span{
                        color: var(--Blackish-Green, #121);
                        font-family: Montserrat;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        vertical-align: sub;
                    }
                    .choice__hotels{
                        float: right;
                        background-image:url(img/Rectangle\ 41hotelsbig.png);
                        background-repeat: no-repeat;
                        border-radius: 20px;
                        width: 604px;
                        height: 559px;
                        flex-shrink: 0;
                    }
                    /* ghfdj */
                    .choice__hotels h3{
                        color: var(--Neutrals, #FFF);
                        text-align: center;
                        font-family: TradeGothic LT Extended;
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin: 372px auto 8px;
                    }
                    .choice__hotels h4{
                        color: var(--Neutrals, #FFF);
                        text-align: center;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin-bottom: 16px;
                    }    
                    .choice__hotels_button{
                        text-align: center;
                        border-radius: 4px;
                        background: var(--Mint-Green, #8DD3BB);
                        height: 48px;
                        width: 144px;
                        padding: 8px 16px;
                        margin: 0 auto;
                    }
                    .choice__hotels_button img{
                        width: 16px;
                        height: 16px;
                        float: left;
                        margin: 8px 4px 8px 8px;
                    }
                    .choice__hotels_button span{
                        color: var(--Blackish-Green, #121);
                        font-family: Montserrat;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        vertical-align: sub;
                    }
                    .choice__rasporka{
                        clear: both;
                    }
                    /* 5block----------------------------------------------------------------------------------------------------- */
                    .scroll{
                        width: 1396px;
                        height: 722px;
                    }
                    .scroll__top{
                        margin-bottom: 2px;
                    }
                    .scroll__top span{
                        float: right;
                        border-radius: 4px;
                        border: 1px solid var(--Mint-Green, #8DD3BB);
                        height: 40px;
                        padding: 8px 16px;
                        margin: 16px 164px 16px 0px;
                    }
                    .scroll__top h3{
                        color: #000;
                        font-family: Montserrat;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        height: 36px;
                        margin-bottom: 16px;
                    }
                    .scroll__top h4{
                        color: #000;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                    .scroll__top_rasporka{
                        clear: both;
                    }
                    /* bottom111 */  
                    .scroll__bottom{
                        width: 1500px;
                    }
                  
                    .scroll__bottom_1{
                        width: 450px;
                        margin-right: 24px;
                        float: left;
                    }

                  
                    .bg__1{
                        border-radius: 20px;
                        background: rgba(141, 211, 187, 0.40);
                        width: 425px;
                        height: 586px;
                        margin: 60px 0px 0px 26px;
                    }

                    .scroll__bottom_1_a{
                        margin-top: -608px;
                        border-radius: 20px;
                        background: var(--Neutrals, #FFF);
                        box-shadow: 2px 4px 16px 0px rgba(17, 34, 17, 0.10);
                        padding: 24px;
                        width: 425px;
                        height: 584px;
                       
                    }
                    .scroll__bottom_1_a h3{
                        color: var(--Blackish-Green, #121);
                        font-family: TradeGothic LT Extended;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        margin-bottom: 42px;
                    }
                    .scroll__bottom_1_a h4{
                        overflow: hidden;
                        color: var(--Blackish-Green, #121);
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        height: 37px;
                        margin-bottom: 12px;
                    }
                    .scroll__bottom_1_a p{
                        text-align: right;
                        margin-bottom: 16px;
                        color: var(--Blackish-Green, #121);
                        text-align: right;
                        font-family: TradeGothic LT Extended;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                    .scroll__bottom_1_a_stars img{
                        margin-right: 12px;
                    }
                    .scroll__bottom_1_a h5{
                        margin:20px 0px 4px 0px;
                        color: var(--Blackish-Green, #121);
                        font-family: TradeGothic LT Extended;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                    }
                    .scroll__bottom_1_a h6{
                        color: var(--Blackish-Green, #121);
                        font-family: Montserrat;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        opacity: 0.5;
                        margin-bottom: 12px;
                    }
                    .scroll__bottom_1_a_google{
                        margin-bottom: 40px;
                    }
                    .scroll__bottom_1_a_google img{
                        vertical-align: middle;
                        margin-right: 8px;
                    }
                   /* bottom2222 */
                   .scroll__bottom_2{
                    width: 450px;
                    margin-right: 24px;
                    float: left;
                    
                   }
                   .bg__2{
                    border-radius: 20px;
                    background: rgba(141, 211, 187, 0.40);
                    width: 425px;
                    height: 586px;
                    margin: 60px 0px 0px 26px;
                }
                .scroll__bottom_2_b{
                    margin-top: -608px;
                    border-radius: 20px;
                    background: var(--Neutrals, #FFF);
                    box-shadow: 2px 4px 16px 0px rgba(17, 34, 17, 0.10);
                    padding: 24px;
                    width: 425px;
                    height: 584px;
                }
                .scroll__bottom_2_b h3{
                    color: var(--Blackish-Green, #121);
                    font-family: TradeGothic LT Extended;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    margin-bottom: 42px;
                }
                .scroll__bottom_2_b h4{
                    overflow: hidden;
                    color: var(--Blackish-Green, #121);
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    height: 37px;
                    margin-bottom: 12px;
                }
                .scroll__bottom_2_b p{
                    text-align: right;
                    margin-bottom: 16px;
                    color: var(--Blackish-Green, #121);
                    text-align: right;
                    font-family: TradeGothic LT Extended;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                .scroll__bottom_2_b_stars img{
                    margin-right: 12px;
                }
                .scroll__bottom_2_b h5{
                    margin:20px 0px 4px 0px;
                    color: var(--Blackish-Green, #121);
                    font-family: TradeGothic LT Extended;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                }
                .scroll__bottom_2_b h6{
                    color: var(--Blackish-Green, #121);
                    font-family: Montserrat;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    opacity: 0.5;
                    margin-bottom: 12px;
                }
                .scroll__bottom_2_b_google{
                    margin-bottom: 40px;
                }
                .scroll__bottom_2_b_google img{
                    vertical-align: middle;
                    margin-right: 8px;
                }
                /* 3bottom */
                .scroll__bottom_3{
                    width: 450px;
                    margin-right: 24px;
                    float: left;
                    
                   }
                   .bg__3{
                    border-radius: 20px;
                    background: rgba(141, 211, 187, 0.40);
                    width: 425px;
                    height: 586px;
                    margin: 60px 0px 0px 26px;
                }
                .scroll__bottom_3_c{
                    margin-top: -608px;
                    border-radius: 20px;
                    background: var(--Neutrals, #FFF);
                    box-shadow: 2px 4px 16px 0px rgba(17, 34, 17, 0.10);
                    padding: 24px;
                    width: 425px;
                    height: 584px;
                }
                .scroll__bottom_3_c h3{
                    color: var(--Blackish-Green, #121);
                    font-family: TradeGothic LT Extended;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    margin-bottom: 42px;
                }
                .scroll__bottom_3_c h4{
                    overflow: hidden;
                    color: var(--Blackish-Green, #121);
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    height: 37px;
                    margin-bottom: 12px;
                }
                .scroll__bottom_3_c p{
                    text-align: right;
                    margin-bottom: 16px;
                    color: var(--Blackish-Green, #121);
                    text-align: right;
                    font-family: TradeGothic LT Extended;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                .scroll__bottom_3_c_stars img{
                    margin-right: 12px;
                }
                .scroll__bottom_3_c h5{
                    margin:20px 0px 4px 0px;
                    color: var(--Blackish-Green, #121);
                    font-family: TradeGothic LT Extended;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                }
                .scroll__bottom_3_c h6{
                    color: var(--Blackish-Green, #121);
                    font-family: Montserrat;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    opacity: 0.5;
                    margin-bottom: 12px;
                }
                .scroll__bottom_3_c_google{
                    margin-bottom: 40px;
                }
                .scroll__bottom_3_c_google img{
                    vertical-align: middle;
                    margin-right: 8px;
                }
                .scroll__bottom_rasporka{
                    clear: both;
                }
    /* 6block--------------------------------------------------------------------------------------------------------------------- */
    .subscribe{
        width: 1232px;
        padding: 24px 24px;
        border-radius: 20px;
        background: #CDEAE1;
        box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
       margin:90px 104px 0px 0px;
       height: 305px;
    }
    .subscribe img{
        float: right;
        margin-top: 23px;
    }
  
    .subscribe h3{
        color: var(--Blackish-Green, #121);
        font-family: TradeGothic LT Extended;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 22px;
    }
    .subscribe h4{      
        color: var(--Blackish-Green, #121);
        font-family: TradeGothic LT Extended;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 8px;
    }
    .subscribe h5{
        color: var(--Blackish-Green, #121);
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        opacity: 0.7;
        margin-bottom: 16px;
    }
    .subscribe__mail_1{
        float: left;
        border-radius: 4px 4px 0px 0px;
        height: 56px;
        width: 473px; ;
        margin-right: 16px;
        background-color: #FFF;
    }
    .subscribe__mail_1 span{
        color: #1C1B1F;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }
    .subscribe__mail_2{
        float: left;
        border-radius: 4px;
        background: var(--Blackish-Green, #121);
        height: 56px;
        width: 104px;
    }
    .subscribe__mail_2 span{
        color: var(--Neutrals, #FFF);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
    }
    
    .subscribe__mail_rasporks{
        clear: both;
    }       

