*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
.conteiner{
    width: 1232px;
    margin: 0 auto;
}
.header__menu{
    padding: 24px 32px;
}
.header__menu_1{
    float: left;
}
.header__menu_1 img{
    float: left;
}
.header__menu_1 span{
vertical-align: middle;
color: var(--Neutrals, #000);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-right: 32px;
}
.header__menu_2{
    float: left;
}
.header__menu_2 img{
    float: left;
}
.header__menu_2 span{
vertical-align: middle;
color: var(--Neutrals, #000);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.header__menu_3{
float: right;
color: var(--Blackish-Green, #000);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.header__menu_4{
float: right;
color: var(--Neutrals, #000);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-right: 32px;

}
.header__menu_5{
   text-align: center;
}
.rasporka{
    clear: both;
}
.fon{
    background-image: url(img/Frame\ 36fon_airplan.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 537px;

}
/* поиск---------------------------------------------------------------------------------------------------------------- */
.poisk{
    width: 1232px;
    padding: 16px 32px 32px 32px;
    border-radius: 16px;
    background: var(--Neutrals, #FFF);
    box-shadow: 0px 4px 16px 0px rgba(141, 211, 187, 0.15);
    margin: -100px auto 80px auto;
    }
    .poisk__top{
        margin-bottom: 48px;
    }
    .poisk__top_1{
        float: left;
        margin-right: 64px;
       
    }
    .poisk__top_1 img{
        float: left;
        margin-right: 8px;
    }
    .poisk__top_1 span{
    color: var(--Blackish-Green, #121);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    vertical-align: middle;
    }
    .poisk__top_2{
        float: left;
    }
    .poisk__top_2 img{
        float: left;
        margin-right: 8px;
    }
    .poisk__top_2 span{
    color: var(--Blackish-Green, #121);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    vertical-align: middle;
    }
    .poisk__top_rasporka{
        clear: both;
    }
    .poisk__midle{
        margin-bottom: 32px;
    
    }
    .poisk__midle_1{
        float: left;
        width: 324px;
        padding: 4px 0px 4px 16px;
        border-radius: 4px 4px 0px 0px;
        border: 2px solid  #79747E;
        margin-right: 10px;
    }
    .poisk__midle_1 img{
        float: right;
        padding: 12px;
    }
    .poisk__midle_1 span{
        float: left;
        padding-top: 14px;
        color: #1C1B1F;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
    }
    .poisk__midle_2{
        float: left;
        width: 140px;
        padding: 4px 0px 4px 16px;
        border-radius: 4px 4px 0px 0px;
        border: 2px solid  #79747E;
        margin-right: 10px;
    
    }
    .poisk__midle_2 img{
        float: right;
        padding: 12px;
    
    }
    .poisk__midle_2 span{
        float: left;
        padding-top: 14px;
        color: #1C1B1F;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
       
    }
    
    
    .poisk__midle_3{
        float: left;
        width: 324px;
       
        padding: 4px 0px 4px 16px;
        border-radius: 4px 4px 0px 0px;
        border: 2px solid  #79747E;
        margin-right: 10px;
    }
    .poisk__midle_3 p{
        padding: 14.8px 0;
        color: #1C1B1F;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .poisk__midle_4{
        float: left;
        width: 324px;
        padding: 4px 0px 4px 16px;
        border-radius: 4px 4px 0px 0px;
        border: 2px solid  #79747E;
    }
    .poisk__midle_4 p{
        padding: 14.8px 0;
        color: #1C1B1F;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .poisk__midle_rasporka{
        clear: both;
    }
    .poisk__bottom_2{
        float: right;
        padding: 8px 16px;
        background-color:#8CD2BA;
    }
    .poisk__bottom_2 img{
        float: left;
        margin-right: 4px;
        padding-top: 4px;
    }
    .poisk__bottom_2 p{
    color: var(--Blackish-Green, #121);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
    .poisk__bottom_1{
        float: right;
        margin-right: 24px;
        padding: 8px 16px;
    }
    .poisk__bottom_1 img{
        float: left;
        margin-right: 4px;
        padding-top: 4px;
    }
    .poisk__bottom_1 p{
    color: var(--Blackish-Green, #121);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
    }
    .poisk__bottom_rasporka{
        clear: both;
    }
    /* plan name------------------------------------------------------------------------------------------------------------ */
    .plan__name h3{
        height: 36px;
        align-self: stretch;
        color: #000;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 16px;
        }
        .plan__name h4{
        align-self: stretch;
        color: var(--Blackish-Green, #121);
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.75;
        margin-bottom: 40px;
        }
        .plan__name span{
        float: right;
        height: 40px;
        padding:  8px 16px;
        border-radius: 4px;
        border: 1px solid var(--Mint-Green, #8DD3BB);
        margin-top: 16px;
        color: var(--Blackish-Green, #121);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        }
        .plan__name_rasporka{
            clear: both;
        }
        /* фон центр----------------------------------------------------------------------------------------------------------- */
        .fon_centr{
            background-image: url(img/Новый\ проект.png);
            background-repeat: no-repeat;
            height: 590px;
            background-size: cover;
            margin-bottom: 80px;
        }
        /* sity-------------------------------------------------------------------------------------------------------------------- */
        .sity{
            margin-bottom: 80px;
        }
        .city_rasporka{
            clear: both;
        }
        .sity1{
            background-image: url(img/Rectangle\ 3melbourne2p.png);
            background-repeat: no-repeat;
            width: 296px;
            height: 420px;
            float: left;
            margin-right: 12px;
        }
        .sity1 span{
            float: right;
            color: var(--Neutrals, #FFF);
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            margin-top: 303px;
            margin-right: 24px;

        }
        .sity1 h3{
            color: var(--Neutrals, #FFF);
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            margin-top: 286px;
            margin-left: 24px;
        }
        .sity1 h4{
            color: var(--Neutrals, #FFF);
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            margin-left: 24px;
        }
        .sity1 p{
            height: 48px;
            width: 248px;
            border-radius: 4px;
            background: var(--Mint-Green, #8DD3BB);
            color: var(--Blackish-Green, #121);
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            text-align: center;
            margin: 16px auto 0px;
            vertical-align: middle;
            padding-top: 16px;
        }
        /* 2222222 */
        .sity2{
            background-image: url(img/Rectangle\ 4paris2p.png);
            background-repeat: no-repeat;
            width: 296px;
            height: 420px;
            float: left;
            margin-right: 12px;
        }
        .sity2 span{
            float: right;
            color: var(--Neutrals, #FFF);
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            margin-top: 303px;
            margin-right: 24px;

        }
        .sity2 h3{
            color: var(--Neutrals, #FFF);
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            margin-top: 286px;
            margin-left: 24px;
        }
        .sity2 h4{
            color: var(--Neutrals, #FFF);
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            margin-left: 24px;
        }
        .sity2 p{
            height: 48px;
            width: 248px;
            border-radius: 4px;
            background: var(--Mint-Green, #8DD3BB);
            color: var(--Blackish-Green, #121);
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            text-align: center;
            margin: 16px auto 0px;
            vertical-align: middle;
            padding-top: 16px;
        }
        /* 33333333 */
        .sity3{
            background-image: url(img/Rectangle\ 5london2p.png);
            background-repeat: no-repeat;
            width: 296px;
            height: 420px;
            float: left;
            margin-right: 12px;
        }
        .sity3 span{
            float: right;
            color: var(--Neutrals, #FFF);
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            margin-top: 303px;
            margin-right: 24px;

        }
        .sity3 h3{
            color: var(--Neutrals, #FFF);
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            margin-top: 286px;
            margin-left: 24px;
        }
        .sity3 h4{
            color: var(--Neutrals, #FFF);
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            margin-left: 24px;
        }
        .sity3 p{
            height: 48px;
            width: 248px;
            border-radius: 4px;
            background: var(--Mint-Green, #8DD3BB);
            color: var(--Blackish-Green, #121);
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            text-align: center;
            margin: 16px auto 0px;
            vertical-align: middle;
            padding-top: 16px;
        }
        /* 444444444 */
        .sity4{
            background-image: url(img/Rectangle\ 6columbia2p.png);
            background-repeat: no-repeat;
            width: 296px;
            height: 420px;
            float: left;
            margin-right: 12px;
        }
        .sity4 span{
            float: right;
            color: var(--Neutrals, #FFF);
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            margin-top: 303px;
            margin-right: 24px;

        }
        .sity4 h3{
            color: var(--Neutrals, #FFF);
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            margin-top: 286px;
            margin-left: 24px;
        }
        .sity4 h4{
            color: var(--Neutrals, #FFF);
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            margin-left: 24px;
        }
        .sity4 p{
            height: 48px;
            width: 248px;
            border-radius: 4px;
            background: var(--Mint-Green, #8DD3BB);
            color: var(--Blackish-Green, #121);
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            text-align: center;
            margin: 16px auto 0px;
            vertical-align: middle;
            padding-top: 16px;
        }
        .sity-rasporka{
            clear: both;
        }
/* items------------------------------------------ */
.items{ height: 424px;}
.item_l{
            float: left;
            width: 550px;
            border-radius: 20px;
            background: #8DD3BB;
            padding: 24px;
        }
.item_l_t{
    margin-bottom: 24px;
}
   .item_l_t_r{
    float: right;
    width: 68px;
    height: 62px;
    background-color: white;
    text-align: center;
   }     
 .item_l_t h3{
    color: #121;
font-family: TradeGothic LT Extended;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
 }      
 .item_l_t h4{
    color: #121;
font-family: TradeGothic LT Extended;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
 }  
 .item_l_t_r span{
    color: #121;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
 }
 .item_l_t_r span:first-child{
    color:#121;
font-family: TradeGothic LT Extended;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
 }
 .item_l_t > p{
    color:#121;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
 }