html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrap-head {
  background: url(../img/Header_bg_img.png) no-repeat right top, -webkit-gradient(linear, left top, left bottom, from(#F1F1F1), color-stop(16.25%, #F0F2F1), color-stop(43.26%, #EBEDEC), color-stop(72.5%, #E6E8E7), to(#DEE2E1));
  background: url(../img/Header_bg_img.png) no-repeat right top, linear-gradient(180deg, #F1F1F1 0%, #F0F2F1 16.25%, #EBEDEC 43.26%, #E6E8E7 72.5%, #DEE2E1 100%);
  height: 820px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px 45px; }

.header-r {
  width: 190px;
  height: 55px;
  border-radius: 17px;
  background: #5CCD6A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid rgba(255, 255, 255, 0.248) 5px; }
  .header-r span {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    width: 105px;
    height: 17px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }

.header-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 100px; }
  .header-c .ul_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
    .header-c .ul_menu li {
      font-family: "Roboto", sans-serif;
      color: #495E4C;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: lowercase; }

.container {
  width: 1170px;
  position: relative;
  margin: 0 auto; }

.start {
  position: absolute;
  left: 0;
  top: 0;
  padding: 80px 16px 0px 0px; }
  .start .start-text h2 {
    color: #495E4C;
    font-family: "Roboto", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px;
    text-transform: capitalize; }
  .start .start-text .start-text-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .start .start-text .start-text-center .start-text-center-line {
      width: 148px;
      height: 3px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      border-radius: 1.5px;
      background: var(--unnamed, #78C081); }
    .start .start-text .start-text-center h3 {
      color: #495E4C;
      font-family: "Roboto", sans-serif;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: 74px;
      /* 115.625% */
      text-transform: capitalize; }
  .start .start-text .start-text-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px; }
    .start .start-text .start-text-bottom span {
      color: var(--unnamed, #78C081);
      font-family: Ruberoid;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: 74px;
      /* 115.625% */
      letter-spacing: 1.92px;
      text-transform: uppercase; }
  .start .start-text2 {
    margin-bottom: 52px; }
    .start .start-text2 .start-text2-img {
      float: left;
      width: 50px;
      height: 10px;
      background: url(../img/Ellipse\ 1.png) no-repeat top left, url(../img/Ellipse\ 2.png) no-repeat top center, url(../img/Ellipse\ 3.png) no-repeat top right;
      margin: 10px 7px 0 0; }
    .start .start-text2 p {
      color: #7CA381;
      font-family: "Roboto", sans-serif;
      font-size: 19px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      /* 145.455% */
      margin-left: 57px; }
  .start .start-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 63px;
    padding: 0 15px 0 15px; }
    .start .start-contacts .start-contacts-l {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .start .start-contacts .start-contacts-l .start-contacts-l-img {
        background-image: url(../img/map.png);
        background-repeat: no-repeat;
        width: 32PX;
        height: 32px;
        margin: 8px 20px 0 0; }
      .start .start-contacts .start-contacts-l p {
        color: #7B897D;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */ }
    .start .start-contacts .start-contacts-r {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .start .start-contacts .start-contacts-r .start-contacts-r-img {
        background-image: url(../img/phone.png);
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        margin: 8px 20px 0 0; }
      .start .start-contacts .start-contacts-r p {
        color: #7B897D;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */ }
  .start .start-button {
    width: 447px;
    height: 85px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 30px;
    background: #5CCD6A;
    -webkit-box-shadow: 2px -2px 12px 0px rgba(34, 111, 33, 0.36) inset;
            box-shadow: 2px -2px 12px 0px rgba(34, 111, 33, 0.36) inset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: solid 15px rgba(120, 192, 129, 0.25); }
    .start .start-button span {
      color: #FFF;
      font-family: "Roboto", sans-serif;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.68px;
      text-transform: uppercase; }

.uslugi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px; }
  .uslugi .uslugi-l {
    width: 444px;
    margin-right: 110px; }
    .uslugi .uslugi-l p:last-child {
      margin-bottom: 0px; }
    .uslugi .uslugi-l h3 {
      color: #495E4C;
      font-family: "Roboto", sans-serif;
      font-size: 51px;
      font-style: normal;
      font-weight: 400;
      line-height: 60px;
      /* 133.333% */
      text-transform: capitalize; }
    .uslugi .uslugi-l .uslugi-l-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 30px; }
      .uslugi .uslugi-l .uslugi-l-text h4 {
        color: #495E4C;
        font-family: "Roboto", sans-serif;
        font-size: 51px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        /* 133.333% */
        text-transform: capitalize; }
      .uslugi .uslugi-l .uslugi-l-text .uslugi-l-text-line {
        width: 245px;
        height: 2px;
        border-radius: 1.5px;
        background: #78C081; }
    .uslugi .uslugi-l p {
      color: #848484;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      /* 162.5% */
      margin-bottom: 35px; }
  .uslugi .uslugi-r {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 655px;
    position: relative; }
    .uslugi .uslugi-r .uslugi-r-item1-wrap {
      width: 243px;
      height: 75px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      border-radius: 0px 45px 0px 0px;
      background: #D9FADD;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
      position: absolute;
      left: -159px;
      top: 50%;
      margin-top: -156px; }
      .uslugi .uslugi-r .uslugi-r-item1-wrap .uslugi-r-item1 {
        width: 233px;
        height: 65px;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        border-radius: 0px 40px 0px 0px;
        background: #5CCD6A;
        -webkit-box-shadow: 2px -2px 12px 0px rgba(34, 111, 33, 0.36) inset;
                box-shadow: 2px -2px 12px 0px rgba(34, 111, 33, 0.36) inset;
        margin-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .uslugi .uslugi-r .uslugi-r-item1-wrap .uslugi-r-item1 .uslugi-r-item1-in {
          width: 230px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: space-evenly;
              -ms-flex-pack: space-evenly;
                  justify-content: space-evenly; }
          .uslugi .uslugi-r .uslugi-r-item1-wrap .uslugi-r-item1 .uslugi-r-item1-in span {
            color: #FFF;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-left: 20px; }
    .uslugi .uslugi-r .uslugi-r-item2-wrap {
      width: 243px;
      height: 75px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      border-radius: 45px 0px 0px 0px;
      background: #D9FADD;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
      position: absolute;
      left: -159px;
      top: 50%;
      margin-top: 87px; }
      .uslugi .uslugi-r .uslugi-r-item2-wrap .uslugi-r-item2 {
        width: 233px;
        height: 65px;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        border-radius: 40px 0px 0px 0px;
        background: #FFF;
        -webkit-box-shadow: 2px -2px 12px 0px rgba(34, 111, 33, 0.36) inset;
                box-shadow: 2px -2px 12px 0px rgba(34, 111, 33, 0.36) inset;
        margin-top: 10px;
        margin-left: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .uslugi .uslugi-r .uslugi-r-item2-wrap .uslugi-r-item2 .uslugi-r-item2-in {
          width: 230px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: space-evenly;
              -ms-flex-pack: space-evenly;
                  justify-content: space-evenly; }
          .uslugi .uslugi-r .uslugi-r-item2-wrap .uslugi-r-item2 .uslugi-r-item2-in span {
            color: #7CA281;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; }
          .uslugi .uslugi-r .uslugi-r-item2-wrap .uslugi-r-item2 .uslugi-r-item2-in img {
            -webkit-transform: rotate(90deg);
                    transform: rotate(90deg); }
    .uslugi .uslugi-r .uslugi-r-item3 {
      width: 444px;
      height: 655px;
      border-radius: 65px;
      background: #D9FADD;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .uslugi .uslugi-r .uslugi-r-item3 .item3-in {
        margin-left: 40px;
        margin-bottom: 21px; }
        .uslugi .uslugi-r .uslugi-r-item3 .item3-in:last-child {
          margin-bottom: 0px; }
        .uslugi .uslugi-r .uslugi-r-item3 .item3-in .item3-in-wrap {
          width: 34px;
          height: 34px;
          -ms-flex-negative: 0;
              flex-shrink: 0;
          border-radius: 10px;
          background: #FFF;
          float: left;
          margin-right: 15px; }
          .uslugi .uslugi-r .uslugi-r-item3 .item3-in .item3-in-wrap img {
            padding: 7px; }
        .uslugi .uslugi-r .uslugi-r-item3 .item3-in p {
          color: #495D4C;
          font-family: "Roboto", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          /* 150% */ }

.complex-wrap {
  position: relative; }
  .complex-wrap .bg1 {
    position: absolute;
    left: 0px;
    top: 70px; }
  .complex-wrap .bg2 {
    position: absolute;
    left: 330px;
    top: 127px; }
  .complex-wrap .bg3 {
    position: absolute;
    left: 457px;
    top: 333px; }
  .complex-wrap .bg4 {
    position: absolute;
    left: 1399px;
    top: 169px; }
  .complex-wrap .bg5 {
    position: absolute;
    left: 355px;
    top: 450px; }

.complex {
  margin-top: 100px;
  margin-bottom: 100px; }
  .complex .complex-text {
    margin-bottom: 85px;
    width: 860px; }
    .complex .complex-text .complex-text-in {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .complex .complex-text .complex-text-in .complex-text-in-line {
        width: 236px;
        height: 3px;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        border-radius: 1.5px;
        background: var(--unnamed, #78C081); }
    .complex .complex-text h3 {
      color: #495E4C;
      font-family: "Roboto", sans-serif;
      font-size: 51px;
      font-style: normal;
      font-weight: 400;
      line-height: 60px;
      /* 133.333% */
      text-transform: capitalize; }
  .complex .complex-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    height: 305px; }
    .complex .complex-items .bag img {
      width: 257px;
      height: 86px; }
    .complex .complex-items .complex-item {
      position: relative; }
      .complex .complex-items .complex-item .complex-item-price {
        position: absolute;
        left: 0;
        top: 14px;
        width: 119px;
        height: 28px;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        border-radius: 0px 10px 10px 0px;
        background: #D9FADD;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .complex .complex-items .complex-item .complex-item-price span {
          color: #495D4C;
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          font-style: normal;
          font-weight: 600;
          line-height: normal; }
      .complex .complex-items .complex-item .complex-item-text {
        width: 257px;
        height: 43px;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        background: #FFF;
        border-radius: 0px 0px 25px 25px;
        -webkit-backdrop-filter: blur(1px);
                backdrop-filter: blur(1px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: -9px; }
        .complex .complex-items .complex-item .complex-item-text span {
          color: #78C081;
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          /* 150% */
          margin-left: 15px; }

.steps-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px; }
  .steps-t .steps-l-text h3 {
    color: #495E4C;
    font-family: "Roboto", sans-serif;
    font-size: 51px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    /* 133.333% */
    text-transform: capitalize; }
  .steps-t .steps-l-text .steps-l-text-t {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .steps-t .steps-l-text .steps-l-text-t .steps-l-text-t-line {
      width: 100px;
      height: 2px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      border-radius: 1.5px;
      background: var(--unnamed, #78C081); }
  .steps-t .steps-r-text h3 {
    color: var(--unnamed, #78C081);
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 16px; }
  .steps-t .steps-r-text .steps-r-text-item {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .steps-t .steps-r-text .steps-r-text-item span {
      color: #7CA381;
      font-family: Proxima Nova;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-left: 10px; }

.steps-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .steps-b .steps-b-item {
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .steps-b .steps-b-item span {
      color: #495E4C;
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal; }
    .steps-b .steps-b-item .steps-b-items-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100px;
      height: 100px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      background-image: url(../img/bg-steps-bot.png); }

.form-1-wrap {
  background-image: url(../img/bg-form.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 248px;
  margin-top: 105px; }

.form-1 {
  margin-top: -248px; }
  .form-1 h3 {
    color: #495E4C;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    /* 128.571% */
    margin-top: 55px;
    margin-bottom: 33px; }
  .form-1 .form-1-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .form-1 .form-1-items .form-1-item-1 input {
      margin-right: 30px;
      width: 290px;
      height: 57px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      border-radius: 15px;
      background: #FFF; }
    .form-1 .form-1-items .form-1-item-2 input {
      margin-right: 60px;
      width: 290px;
      height: 57px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      border-radius: 15px;
      background: #FFF;
      -webkit-box-shadow: 0px 0px 12px 0px rgba(73, 93, 76, 0.15);
              box-shadow: 0px 0px 12px 0px rgba(73, 93, 76, 0.15); }
    .form-1 .form-1-items .form-1-item-3 input {
      width: 229px;
      height: 57px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      border-radius: 17px;
      background: #9CD3A3;
      -webkit-box-shadow: 2px -2px 12px 0px rgba(34, 111, 33, 0.36) inset;
              box-shadow: 2px -2px 12px 0px rgba(34, 111, 33, 0.36) inset; }
