.carousel {
  width: 80%;
  margin: 0 auto; }

.text_about {
  margin-left: 20px; }
  .text_about p {
    color: #1D1D1B;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    /* 20.8px */
    margin-bottom: 20px;
    margin-right: 40px; }
    @media all and (max-width: 890px) {
      .text_about p {
        font-size: 14px; } }
  .text_about :first-child {
    margin-top: 50px; }
  .text_about h5 {
    color: #27AE60;
    font-family: Rubik;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    text-align: center;
    margin: 40px 45px 40px 45px; }
    @media all and (max-width: 750px) {
      .text_about h5 {
        font-size: 18px; } }
