html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrap {
  background: url(../img/bg-header.png) no-repeat;
  margin: 0 auto;
  width: 1920px;
  height: 1000px; }
  @media all and (max-width: 1950px) {
    .wrap {
      width: 100%; } }

.container {
  width: 1420px;
  margin: 0 auto; }
  @media all and (max-width: 1480px) {
    .container {
      padding: 0 20px; } }
  @media all and (max-width: 1440px) {
    .container {
      width: 100%; } }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px; }
  header menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 664px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 91px; }
    header menu a {
      color: var(--black, #1D1D1B);
      font-family: Rubik;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none; }

hgroup {
  width: 775px;
  height: 256px;
  margin-top: 320px; }
  hgroup h1 {
    color: #FFF;
    font-family: Rubik;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.52); }
  hgroup h2 {
    color: #FFF;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.52); }

.button {
  width: 254px;
  height: 66px;
  margin-top: 60px;
  border-radius: 8px;
  background: var(--green, #27AE60);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .button span {
    color: #FFF;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; }

.why {
  margin-top: 80px; }
  .why h3 {
    color: #1D1D1B;
    font-family: Rubik;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 58px; }
    @media all and (max-width: 1505px) {
      .why h3 {
        text-align: center; } }
  .why .why-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media all and (max-width: 1505px) {
      .why .why-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .why .why-items .why-items-1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media all and (max-width: 1505px) {
        .why .why-items .why-items-1 {
          margin-bottom: 14px; } }
    .why .why-items .why-items-1 :first-child {
      margin-right: 14px; }
    .why .why-items .why-items-1 :nth-child(2) {
      margin-right: 14px; }
    .why .why-items .why-items-2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .why .why-items .why-items-2 :first-child {
      margin-right: 14px; }
    .why .why-items .why-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 273px;
      height: 90px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-radius: 8px;
      border: 1px solid #A8A8A8;
      background: #FFF; }
      .why .why-items .why-item img {
        margin-right: 20px; }
      .why .why-items .why-item span {
        color: #27AE60;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; }

.materials {
  margin-top: 80px; }
  .materials h3 {
    color: #1D1D1B;
    font-family: Rubik;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 60px; }
    @media all and (max-width: 1505px) {
      .materials h3 {
        text-align: center; } }
  .materials .materials-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media all and (max-width: 1505px) {
      .materials .materials-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .materials .materials-items .materials-items-1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media all and (max-width: 1505px) {
        .materials .materials-items .materials-items-1 {
          margin-bottom: 40px; } }
    .materials .materials-items .materials-items-1 :first-child {
      margin-right: 20px; }
      @media all and (max-width: 1505px) {
        .materials .materials-items .materials-items-1 :first-child {
          margin-right: 40px; } }
    .materials .materials-items .materials-items-2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .materials .materials-items .materials-items-2 :first-child {
      margin-right: 20px; }
      @media all and (max-width: 1505px) {
        .materials .materials-items .materials-items-2 :first-child {
          margin-right: 40px; } }
    .materials .materials-items .materials-item {
      width: 340px;
      height: 524px;
      position: relative;
      -webkit-transition: -webkit-transform 0.5s;
      transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s; }
      .materials .materials-items .materials-item span {
        color: #FFF;
        font-family: Rubik;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        position: absolute;
        left: 40px;
        bottom: 40px; }
    .materials .materials-items .materials-item:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      z-index: 1;
      cursor: pointer; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 81px; }
  @media all and (max-width: 1315px) {
    .about {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .about section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .about section h3 {
      margin-bottom: 28px;
      color: #1D1D1B;
      font-family: Rubik;
      font-size: 42px;
      font-style: normal;
      font-weight: 500;
      line-height: normal; }
    .about section p {
      width: 579px;
      color: #67675F;
      font-family: Rubik;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 142%;
      /* 25.56px */
      letter-spacing: 0.09px; }
  .about .about-r {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 700px;
    height: 446px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 24px;
    background: #F8F8F8; }
    .about .about-r .about-r-l {
      position: relative;
      width: 209px;
      height: 177px; }
    .about .about-r .about-r-l :nth-child(1) {
      position: absolute;
      left: 30px;
      top: -18px;
      color: #1D1D1B;
      font-family: Rubik;
      font-size: 88px;
      font-style: normal;
      font-weight: 300;
      line-height: 142%;
      /* 124.96px */
      letter-spacing: 0.44px; }
    .about .about-r .about-r-l :nth-child(2) {
      position: absolute;
      top: -6px;
      left: 150px;
      color: #27AE60;
      font-family: Rubik;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: 142%;
      /* 56.8px */
      letter-spacing: 0.2px; }
    .about .about-r .about-r-l :nth-child(3) {
      position: absolute;
      left: 11px;
      top: 114px;
      color: #67675F;
      font-family: Rubik;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 142%;
      /* 34.08px */
      letter-spacing: 0.12px; }
    .about .about-r .about-r-r {
      position: relative;
      width: 232px;
      height: 177px; }
    .about .about-r .about-r-r :nth-child(1) {
      position: absolute;
      top: -18px;
      left: 70px;
      color: #1D1D1B;
      font-family: Rubik;
      font-size: 88px;
      font-style: normal;
      font-weight: 300;
      line-height: 142%;
      /* 124.96px */
      letter-spacing: 0.44px; }
    .about .about-r .about-r-r :nth-child(2) {
      position: absolute;
      top: 114px;
      left: 60px;
      color: #67675F;
      font-family: Rubik;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 142%;
      /* 34.08px */
      letter-spacing: 0.12px; }

.wrapf {
  position: relative;
  background: #F8F8F8;
  margin: 0 auto;
  width: 1920px;
  height: 588px; }
  @media all and (max-width: 1950px) {
    .wrapf {
      width: 100%; } }
  @media all and (max-width: 1680px) {
    .wrapf {
      height: 1090px; } }
  .wrapf .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media all and (max-width: 1680px) {
      .wrapf .form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .wrapf .form .form-l {
      margin-top: 89px; }
      @media all and (max-width: 1680px) {
        .wrapf .form .form-l .button {
          margin-left: 85px; } }
      .wrapf .form .form-l h3 {
        color: #1E1E1C;
        font-family: Rubik;
        font-size: 42px;
        font-style: normal;
        font-weight: 500;
        line-height: normal; }
      .wrapf .form .form-l h4 {
        color: #27AE60;
        font-family: Rubik;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 39.2px */
        margin: 23px 0; }
      .wrapf .form .form-l h5 {
        color: #1E1E1C;
        font-family: Rubik;
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%; }
    @media all and (max-width: 1950px) {
      .wrapf .form .form-r {
        position: relative; } }
    .wrapf .form .form-r .form-r-bg {
      width: 318px;
      height: 588px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      background: #27AE60;
      margin-right: 106px; }
      @media all and (max-width: 1680px) {
        .wrapf .form .form-r .form-r-bg {
          background-color: transparent; } }
    .wrapf .form .form-r form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: absolute;
      left: 1032px;
      top: 56px;
      width: 686px;
      height: 475px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      border-radius: 12px;
      background: #FFF;
      -webkit-box-shadow: 0px 4px 40px 0px rgba(7, 17, 51, 0.07);
              box-shadow: 0px 4px 40px 0px rgba(7, 17, 51, 0.07); }
      @media all and (max-width: 1950px) {
        .wrapf .form .form-r form {
          left: -208px;
          top: 57px; } }
      @media all and (max-width: 1680px) {
        .wrapf .form .form-r form {
          position: static;
          margin-top: -568px; } }
      .wrapf .form .form-r form span {
        color: var(--black, #181A28);
        font-family: Rubik;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 15px */
        margin: 43px 0 0 45px; }
    .wrapf .form .form-r form :nth-child(1) {
      margin: 45px 45px 20px 45px;
      width: 596px;
      height: 65px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      border-radius: 6px;
      border: 1px solid #DDD;
      color: var(--black, #181A28);
      font-family: Rubik;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      /* 18px */
      opacity: 0.5;
      padding-left: 30px; }
    .wrapf .form .form-r form :nth-child(2) {
      margin: 0 45px 20px 45px;
      width: 596px;
      height: 65px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      border-radius: 6px;
      border: 1px solid #DDD;
      color: var(--black, #181A28);
      font-family: Rubik;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      /* 18px */
      opacity: 0.5;
      padding-left: 30px; }
    .wrapf .form .form-r form :nth-child(3) {
      width: 593px;
      height: 172px;
      padding: 23px 30px;
      margin-left: 45px;
      border-radius: 6px;
      border: 1px solid #DDD;
      color: var(--black, #181A28);
      font-family: Rubik;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      /* 18px */
      opacity: 0.5;
      padding-left: 30px; }

.delivery {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media all and (max-width: 1620px) {
    .delivery {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .delivery .delivery-l h3 {
    color: #1E1E1C;
    font-family: Rubik;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 40px 0 30px; }
  .delivery .delivery-l p {
    color: #1E1E1C;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */ }
  .delivery .delivery-l img {
    margin-right: 19px; }
  .delivery .delivery-l .delivery-item {
    margin-top: 64px; }
    .delivery .delivery-l .delivery-item span {
      vertical-align: super;
      color: #1E1E1C;
      font-family: Rubik;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 140%;
      /* 22.4px */ }
  .delivery .delivery-l .delivery-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 184px; }
    .delivery .delivery-l .delivery-items h5 {
      color: #393838;
      text-align: center;
      font-family: Rubik;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      /* 18px */
      margin-bottom: 24px; }
    .delivery .delivery-l .delivery-items span {
      color: #848692;
      text-align: center;
      font-family: Rubik;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      /* 16px */ }
    .delivery .delivery-l .delivery-items .delivery-items-l {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 340px;
      height: 200px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      background: #F8F8F8;
      margin-right: 20px; }
    .delivery .delivery-l .delivery-items .delivery-items-r {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 340px;
      height: 200px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      background: #F8F8F8; }
  .delivery .delivery-r iframe {
    margin-left: 10px; }
    @media all and (max-width: 1620px) {
      .delivery .delivery-r iframe {
        margin-top: 10px;
        margin-left: 0;
        width: 1000px;
        height: 600px; } }
    @media all and (max-width: 1620px) {
      .delivery .delivery-r iframe {
        width: 600px;
        height: 400px; } }

.wrap-footer {
  margin: 0 auto;
  width: 1920px;
  height: 128px;
  background-color: #424141; }
  @media all and (max-width: 1950px) {
    .wrap-footer {
      width: 100%; } }
  .wrap-footer footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 128px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .wrap-footer footer .footer-logo {
      width: 209px;
      height: 82px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      background-image: url(../img/footer-logo.png); }
    .wrap-footer footer span:last-child {
      opacity: 1; }
    .wrap-footer footer span {
      color: #FFF;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      /* 12px */
      opacity: 0.6; }
    .wrap-footer footer .footer-links a:last-child {
      margin-right: 0px; }
    .wrap-footer footer .footer-links a {
      text-decoration: none;
      color: #FFF;
      font-family: Gilroy;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      /* 21.6px */
      margin-right: 50px; }
    .wrap-footer footer .footer-items img:last-child {
      margin-right: 0px; }
    .wrap-footer footer .footer-items img {
      margin-right: 25px; }
    .wrap-footer footer .footer-tel {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 154px;
      height: 42px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      border: 1px solid #FFF; }
